*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 224, 238);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qrbox {
    height: 500px;
    width: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.qrbox img {
    width: 90%;
    height: 290px;
    border-radius: 10px;
    margin: 20px 0px 35px 0px;
}

.qrtext h3 {
    margin: 0px 0px 20px 0px;
    padding: 0px 15% 0px 15%;
    font-size: 20px;
    color: rgb(43, 53, 72);
}

.qrtext p {
    padding: 0px 15% 0px 15%;
    font-size: 15px;
    color: rgb(165, 169, 175);
}


@media (max-width: 920px) {

    .qrbox {
        height: 500px;
        width: 40%;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .qrtext h3 {
        margin: 0px 0px 20px 0px;
        padding: 0px 16% 0px 16%;
        font-size: 20px;
        color: rgb(43, 53, 72);
    }

    .qrtext p {
        padding: 0px 15% 0px 15%;
        font-size: 15px;
        color: rgb(165, 169, 175);
    }

  }


@media (max-width: 700px) {

    .qrbox {
        height: 500px;
        width: 80%;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .qrtext h3 {
        margin: 0px 0px 20px 0px;
        padding: 0px 16% 0px 16%;
        font-size: 20px;
        color: rgb(43, 53, 72);
    }

    .qrtext p {
        padding: 0px 15% 0px 15%;
        font-size: 15px;
        color: rgb(165, 169, 175);
    }

  }
  