*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* For Desktop Screen */


body {
    background-color: hsl(217, 40%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.qrbox {
    height: 480px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: auto 0px auto 0px;
}

.qrbox img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    margin: 10px 0px 25px 0px;
}

.qrtext h3 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0px 25px 10px 25px;
}

.qrtext p {
    font-weight: 400;
    color: hsl(232, 8%, 65%);
    padding: 0px 20px 10px 20px;
    font-size: 15px;
}



/* For Mobile Screen  */


@media (max-width: 390px) {

    body {
        background-color: hsl(217, 40%, 89%);
        height: 100vh;
        align-items: center;
        text-align: center;
        font-family: 'Outfit', sans-serif;
    }
    
    .qrbox {
        height: 460px;
        width: 280px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        margin: auto;
    }
    
    .qrbox img {
        width: 260px;
        height: 260px;
        border-radius: 10px;
        margin: 10px 0px 25px 0px;
    }
    
    .qrtext h3 {
        font-weight: 700;
        color: hsl(218, 44%, 22%);
        padding: 0px 25px 10px 25px;
    }
    
    .qrtext p {
        font-weight: 400;
        color: hsl(232, 8%, 65%);
        padding: 0px 15px 10px 15px;
        font-size: 15px;
    }
    

  }